{% extends "main.html" %}
{% block main %}

<div class="container my-4">
    <form id="form">
        <input type="hidden" id="id" name="id">
        <div class="card shadow-sm border-0">
            <!-- HEADER -->
            <div class="card-header bg-primary text-white d-flex align-items-center">
                <h5 class="mb-0 d-flex align-items-center gap-2">
                    <i class="fas fa-users"></i> Lista de Usuários
                </h5>
                <!-- Forçar botão no canto direito -->
                <div class="ms-auto">
                    <a href="/usuario/cadastro" class="btn btn-success d-flex align-items-center gap-2">
                        <i class="bi bi-person-add"></i> Cadastrar
                    </a>
                </div>
            </div>
            <!-- CORPO -->
            <div class="card-body">
                <table class="table table-striped table-hover align-middle" id="tabela">
                    <thead class="table-light">
                        <tr>
                            <th style="width: 80px;"><i class="bi bi-fingerprint"></i> Código</th>
                            <th><i class="bi bi-person-fill"></i> Nome</th>
                            <th><i class="fas fa-user-tag"></i> Sobrenome</th>
                            <th><i class="bi bi-person-vcard-fill"></i> CPF</th>
                            <th><i class="bi bi-person-badge-fill"></i> RG</th>
                            <th class="text-center" style="width: 150px;"><i class="fas fa-cogs"></i> Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal fade" id="modal-editar" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title fw-semibold">Editar</h5>
                        <button class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="nome" name="nome" placeholder="">
                                    <label for="nome">Nome</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="sobrenome" name="sobrenome"
                                        placeholder="">
                                    <label for="sobrenome">Sobrenome</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="cpf" name="cpf" placeholder="">
                                    <label for="cpf">CPF</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="rg" name="rg" placeholder="">
                                    <label for="rg">RG</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="salvarEditar" class="btn btn-outline-primary flex-fill">
                            Enviar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block script %}
{% include "script.html" %}
<script defer type="module" src="/js/listauser.js"></script>
{% endblock %}